.watchButton {
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #ffc34a;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.watchButton:hover {
    background-color: #f5dd74;
    transition: .2s;
}

.watchButton:active {
    background-color: #f5b71c;
    transition: .2s;
}

@media screen and (max-width: 859px) and (min-width: 640px) {
    .watchButton {
        width: 150px;
        font-size: 15px;
    }
}

@media screen and (max-width: 412px) {
    .watchButton {
        width: 130px;
        font-size: 15px;
    }
}