.input {

}

.input__body {
    height: 4vh;
    width: 50vh;
    border-radius: 20px;
    border: 1px aliceblue solid;
    font-size: 20px;
    padding: 10px;
}

.input__body:target {
    border: 1px aliceblue solid;
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
    .input {
        margin-top: 5px;
    }
}