.upcoming__wrapper {
    width: 25vh;
    height: 35vh;
    /*margin-right: 20px;*/
    margin: 20px 20px;
    background: #1a1a1a;
    transition: all 0.3s;
}

.title__body {
    text-decoration: none;
}

.upcoming__wrapper:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}

.upcoming__pic {
    background: rebeccapurple;
    width: 100%;
    height: 100%;
}

.pic__body {
    width: 100%;
    height: 100%;
}

/* .upcoming__title {
    margin: 5px 5px;
}

.upcoming__title h3 {
    color: white;
    font-weight: bold;
} */

.upcoming__rate {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    border-radius: 3px;
    margin: 10px;
    background-color: yellowgreen;
}

/* .upcoming__rate p {
    color: gray;
} */