* {
    box-sizing: border-box;
}


.logout__wrapper {
    background-color: #000409;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout__body {
    width: 50vh;
    height: 80vh;
    background-color: rgb(35, 30, 83);
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout__title {
    display: flex;
    justify-content: center;
    color: #e1bf1f;
    font-size: 35px;
    padding: 20px;
}

.logout__description {
    /* padding: 5% 15%; */
    color: white;
}

.logout__description a{
    color: white;
}

.logout__description a:hover{
    transition: .2s;
    color: rgb(61, 48, 241);
}


.logoutButton__body {
    width: 270px;
    height: 50px;
    background-color: rgb(124, 116, 196);
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 25px;
    color: white;
}

.logoutButton__body:hover {
    background-color: rgb(169, 162, 231);
}

.logoutButton__body:active {
    background-color: rgb(91, 83, 161);
}

@media screen and (max-width: 440px) {
    .logout__title {
        font-size: 30px;
    }
    .logout__body {
        width: 50vh;
        height: 80vh;
        background-color: rgba(35, 30, 83, 0);
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logoutButton__body {
        width: 200px;
        height: 50px;
        background-color: rgb(124, 116, 196);
        border: none;
        cursor: pointer;
        border-radius: 15px;
        font-size: 25px;
        color: white;
    }
}