.similar__wrapper {
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

.similar__title {
    color: #e1bf1f;
    margin-bottom: 20px;
}

.similar__group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding-bottom: 20px;
}

.similar__body {
    width: 25vh;
    height: 35vh;
    /*margin-right: 20px;*/
    /* margin: 20px 20px; */
    background: #1a1a1a;
    transition: all 0.3s;
}

.title__body {
    text-decoration: none;
}

.similar__body:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}

.similar__pic {
    background: rebeccapurple;
    width: 100%;
    height: 100%;
}

.pic__body {
    width: 100%;
    height: 100%;
}

/* .popular__title {
    margin: 5px 5px;
} */

/* .popular__title h3 {
    color: white;
    font-weight: bold;
} */

.similar__rate {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    border-radius: 3px;
    margin: 10px;
    background-color: yellowgreen;
}