.content {
    background-color: #000409;
    height: 100vh;
}

.popular__list {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.popular__wrapper {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    background: #027da4;
}

.popular__title {
    padding-left: 10px;
    color: #e1bf1f;
}
