.cast__wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cast__img {
    max-width: 150px;
}

.cast__body {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    max-width: 150px;
}


@media screen and (max-width: 1023px) and (min-width: 860px) {
    .cast__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20px;
    }
    
    .cast__body p {
        font-size: 15px;
        font-weight: normal;
    }
}

@media screen and (max-width: 859px) and (min-width: 640px) {
    .cast__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20px;
    }
    
    .cast__body p {
        font-size: 15px;
        font-weight: normal;
    }
}

@media screen and (max-width: 639px) and (min-width: 390px) {
    .cast__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20px;
    }

    .cast__body p {
        font-size: 15px;
        font-weight: normal;
    }
}

@media screen and (max-width: 390px) {
    .cast__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20px;
    }

    .cast__body p {
        font-size: 15px;
        font-weight: normal;
    }
}