.cast__wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cast__img {
    max-width: 150px;
}

.cast__body {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    max-width: 150px;
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
    .cast__body {
        max-width: 100px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 860px) {
    .cast__body {
        max-width: 70px;
    }
    .cast__body p {
        font-size: 15px;
        font-weight: normal;
    }
}

@media screen and (max-width: 859px) and (min-width: 640px) {
    .cast__body {
        max-width: 100px;
    }
    .cast__body p {
        font-size: 15px;
        font-weight: normal;
    }
}