.content {
    background-color: #000409;
    min-height: 100vh;
}

.search__list {
    width: 100%;
    margin: 0 auto;
    /* margin: 30px; */
}

.search__wrapper {
    width: 90%;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.search__title {
    margin: 0 auto;
    color: #e1bf1f;
}

.preloader {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.search__panel {
    padding-top: 30px;
    margin: 0 auto
}

@media screen and (max-width: 280px) {
    .search__wrapper {
        width: 100%;
    }
}