.myList__wrapper {
    min-height: 90vh;
    background: rgb(31,31,31);
    box-sizing: border-box;
    padding: 60px;
}

.myList__body {
    width: 100%;
    min-height: 50%;
}

.myList__group {
    display: grid;
    justify-content: center;
    padding: 40px;
    grid-gap: 45px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.myList__title {
    display: block;
    padding: 10px;
    color: #e1bf1f;
}

.myList__line {
    border-bottom: 2px solid #e1bf1f;
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
    .myList__group {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1024px) and (min-width: 890px) {
    .myList__group {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 890px) {
    .myList__group {
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 640px) {
    .myList__group {
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 390px) {
    .myList__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 280px) {
    .myList__title {
        font-size: 20px;
    }
}