.myList__wrapper {
    min-height: 90vh;
    background: rgb(31,31,31);
    box-sizing: border-box;
    padding: 60px;
}

.myList__body {
    width: 100%;
    min-height: 50%;
}

.myList__group {
    display: grid;
    justify-content: center;
    padding: 40px;
    grid-gap: 45px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.myList__title {
    display: block;
    padding: 10px;
    color: #e1bf1f;
}

.myList__line {
    border-bottom: 2px solid #e1bf1f;
}

