.popular__wrapper {
    width: 25vh;
    height: 40vh;
    background: #1a1a1a;
}

.popular__pic {
    background: rebeccapurple;
    width: 25vh;
    height: 30vh;
}

.popular__title {
    margin: 5px 5px;
}

.popular__title h3 {
    color: white;
    font-weight: bold;
}

.popular__rate {
    margin: 5px 5px;
}

.popular__rate p {
    color: gray;
}